* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(227, 123, 123);
}

.card {
  width: 1000px;
  background: linear-gradient(
    90deg,
    rgba(235, 251, 229, 1) 0%,
    rgba(164, 184, 163, 1) 25%,
    rgba(126, 166, 141, 1) 50%,
    rgba(147, 211, 182, 1) 75%,
    rgba(212, 255, 250, 1) 100%
  );
  background: linear-gradient();
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  line-height: 80px;
}

/* Scroll bar */

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  /* background-color: black; */
  background: linear-gradient(#eae3d9, #857b75);
  width: 12px;
  border-radius: 10px;
}
